*{
  padding: 0px 0px;
  margin: 0px 0px;
  text-decoration: none;
  list-style-type: none;
  font-family:"Rubik";
  
}
p{
  font-family: "Rubik";
  font-size: large;
}
center{
  border: 1px #F2EFE7;
  display: flex;
  align-items:center;
  justify-content: center;
}
.main{
  background-color: #48A6A7;
  border: 10px solid #48A6A7;
  border-radius: 5%;
  margin: 10%;
  padding: 10px 30px;
}
img{
  margin: 4px;
  width: 250px;
  border: 1px solid #48A6A7; 
  border-radius: 8px;     
  border-radius: 10%;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  overflow-x: hidden;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('3.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; 
  z-index: -1;  
}

.social{
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.so a{ 
  border: 1px  solid #000;
  border-radius: 10cm;
  padding: 8px;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
}
.so a:hover{ 
  color:#F2EFE7;
  transform: scale(1.1); 
  border: 1px solid#F2EFE7;

}
.x{
  margin-top: 5px;
  float: right;
  padding: 1px 3px;
  & a{
    text-decoration: none;
    color: #000;
  }
}